.nav {
  // outline: 3px dotted orange;

  &__list {
    width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // outline: 1px solid green;
  }

  &__link {
    display: block;
    text-decoration: none;
    // outline: 1px solid red;
    padding: 5px;
  }
}
