*,
*::before,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 24px;
  color: #2c2c2c;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  li {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}
